<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <!-- <link rel="shortcut icon" href="../Content/themes/base/images/6420668.png"> -->
    <title>L.E.D.</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
        <script src="../node_modules/ngstorage/ngStorage.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../node_modules/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="../node_modules/angular-ui-mask/dist/mask.min.js"></script>
    <script src="app.js"></script>

    <!-- datatables reference -->
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>



</head>
<body style="font-family:Monospace;">
<div ng-app="ledTrial" ng-controller="ledCtrl">

<div class="container">
<div  ng-show='step1_show'>
        <form class="form-signin" ng-submit='step12_change()'>
            <h4 class="form-signin-heading">name and email:</h4>
        <ng-form >
            <label>first name:</label>
            <input type="text" class="form-control" name="first_name" ng-model="user.firstName" required>
            <label>last name:</label>
            <input type="text" class="form-control" name="last_name" ng-model="user.lastName" required>
            <label>email:</label>
            <input type="email" class="form-control" name="email" ng-model="user.email" required>
            <p class="help-block" ng-show="userFieldForm.email.$invalid">Valid Email Required</p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" id="submit" value="next" />
        </ng-form>
    </form>
</div>
</div>
<div class="container">
<div ng-show='step2_show'>
    <h4 class="form-signin-heading">{{user.firstName}}'s car and cellphone:</h4>
    <br>
    <form class='form-signin' ng-submit='step2_next()'>
        <ng-form >
<!-- dynamic selects,first ng-repeat is for keys, second ng-repeat is for values for that key (we save the key into ng-model user.carBrand and use that as the key to search the array in second ng-repeat) -->
        <label>car brand:</label>
        <select name='carBrand' ng-model="user.carBrand" class='form-control' ngRequired>
                <option ng-repeat="(brand,models) in cars">{{brand}}</option>
            </select>

            <label>car model:</label>
        <select name='carModel' ng-model="user.carModel" class='form-control' >
                <option ng-repeat="model in cars[user.carBrand]">{{model}}</option>
            </select>
                <label>cell number:</label>
                <input type="text" class="form-control" name="cell" ng-model="user.cell" ui-mask="999 /999 -9999" ui-mask-placeholder ui-mask-placeholder-char="x" required>

        <input class="btn btn-lg btn-primary btn-block" type="submit" id="submit" value="next" />
        </ng-form>
    </form>
        <button class="btn btn-lg btn-primary btn-block" ng-click="step12_change()">back</button>
</div>
</div>

<script type="text/ng-template" id="SaveCancel.html">
        <div class="modal-header">
            <h3>registration details!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="userData in user">
                <span>{{userData}}</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>

<div ng-show='usersShow'>
<div ng-repeat='user in users'>
<label>{{user.email}}</label>
<button ng-click="deleteUser(user)">delete</button>
<br>
<div>
</div>

</div>

</body>
</html>
