<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <!-- <link rel="shortcut icon" href="../Content/themes/base/images/6420668.png"> -->
    <title>L.E.D.</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../node_modules/angular-modal-service/dst/angular-modal-service.min.js"></script>

    <script src="app.js"></script>

    <!-- datatables reference -->
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="../angular-datatables.min.js"></script>


</head>
<body style="font-family:Lucida Console;">
<div ng-app="ledTrial" ng-controller="ledCtrl">


<div ng-show='step1_show' ng-click="step1_click()">
    <button>{{step1}}</button>
</div>

<div ng-show='step2_show' ng-click="step2_click()">
    <button>{{step2}}</button>
</div>



</div>

</body>
</html>
