<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save or go Back?</h4>
      </div>
      <div class="modal-body">
        <p>data:</p>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="save(false)" class="btn btn-default" data-dismiss="modal">Back</button>
        <button type="button" ng-click="save(true)" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
